name: Run tests

on:
  workflow_dispatch:
    inputs:
      site:
        type: choice
        description: Site to test
        options:
          - www
          - beta
          - all
        default: "www"
      environment:
        type: choice
        description: Environment to test
        options:
          - production
          - staging
          - develop
        default: "production"
      include-tests:
        type: string
        description: Test tags to run, separated with a pipe "|" (leave blank to run all tests)
        required: false
        default: ""
      exclude-tests:
        type: string
        description: Test tags to exclude, separated with a pipe "|" (use @wip to exclude work in progress tests)
        required: false
        default: ""
      notify-slack-on-pass:
        type: boolean
        description: Send successful test results to Slack
        required: true
        default: true
      notify-slack-on-fail:
        type: boolean
        description: Send test failure results to Slack
        required: true
        default: true
      description:
        type: string
        description: A description to add to the Slack report
        required: false
        default: ""

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Get installed Playwright version
        id: playwright-version
        run: echo "PLAYWRIGHT_VERSION=$(node -e "console.log(require('./package-lock.json').packages['node_modules/@playwright/test'].version)")" >> $GITHUB_ENV
      - name: Cache Playwright binaries
        uses: actions/cache@v5
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}
      - name: Install test dependencies
        run: npm install
      - run: npx playwright install --with-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - run: npx playwright install-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'
      - name: Install system dependencies for WebKit
        # Some WebKit dependencies seem to lay outside the cache and will need to be installed separately
        if: steps.playwright-cache.outputs.cache-hit == 'true'
        run: npx playwright install-deps webkit
      - name: Set site domains and get test header value
        run: |
          if [[ "${{ inputs.environment }}" == "develop" ]]; then
            echo "TEST_DOMAIN=https://dev-www.nationalarchives.gov.uk" >> $GITHUB_ENV
            echo "TEST_BETA_DOMAIN=https://dev-beta.nationalarchives.gov.uk" >> $GITHUB_ENV
            echo "TEST_ACCESS_HEADER=${{ secrets.TEST_HEADER_DEV }}" >> $GITHUB_ENV
          elif [[ "${{ inputs.environment }}" == "staging" ]]; then
            echo "TEST_DOMAIN=https://staging-www.nationalarchives.gov.uk" >> $GITHUB_ENV
            echo "TEST_BETA_DOMAIN=https://staging-beta.nationalarchives.gov.uk" >> $GITHUB_ENV
            echo "TEST_ACCESS_HEADER=${{ secrets.TEST_HEADER_STAGING }}" >> $GITHUB_ENV
          else
            echo "TEST_DOMAIN=https://www.nationalarchives.gov.uk" >> $GITHUB_ENV
            echo "TEST_BETA_DOMAIN=https://beta.nationalarchives.gov.uk" >> $GITHUB_ENV
            echo "TEST_ACCESS_HEADER=${{ secrets.TEST_HEADER_PROD }}" >> $GITHUB_ENV
          fi
      - name: Install jq
        run: sudo apt-get install jq
      - name: Report summary preparation
        run: |
          echo "PASS_COUNT=0" >> "$GITHUB_ENV"
          echo "FAIL_COUNT=0" >> "$GITHUB_ENV"
          echo "SKIP_COUNT=0" >> "$GITHUB_ENV"
          echo "FLAKE_COUNT=0" >> "$GITHUB_ENV"
          echo "DURATION=0" >> "$GITHUB_ENV"
      - name: Run www tests
        if: inputs.site == 'www' || inputs.site == 'all'
        run: TEST_DOMAIN="${{ env.TEST_DOMAIN }}" ACCESS_HEADER="${{ env.TEST_ACCESS_HEADER }}" CI=true npx playwright test --config playwright.config.ts --grep "${{ inputs.include-tests }}" --grep-invert "${{ inputs.exclude-tests }}"
      - name: www report summary
        if: always() && (inputs.site == 'www' || inputs.site == 'all')
        run: |
          PASS_COUNT_WWW=$(jq '(.stats.expected)' test-results.json)
          echo "PASS_COUNT=$((PASS_COUNT + PASS_COUNT_WWW))" >> "$GITHUB_ENV"
          FAIL_COUNT_WWW=$(jq '(.stats.unexpected)' test-results.json)
          echo "FAIL_COUNT=$((FAIL_COUNT + FAIL_COUNT_WWW))" >> "$GITHUB_ENV"
          SKIP_COUNT_WWW=$(jq '(.stats.skipped)' test-results.json)
          echo "SKIP_COUNT=$((SKIP_COUNT + SKIP_COUNT_WWW))" >> "$GITHUB_ENV"
          FLAKE_COUNT_WWW=$(jq '(.stats.flaky)' test-results.json)
          echo "FLAKE_COUNT=$((FLAKE_COUNT + FLAKE_COUNT_WWW))" >> "$GITHUB_ENV"
          DURATION_WWW=$(jq '(.stats.duration/1000|tonumber|floor)' test-results.json)
          echo "DURATION=$((DURATION + DURATION_WWW))" >> "$GITHUB_ENV"
      - name: Run beta tests
        if: inputs.site == 'beta' || inputs.site == 'all'
        run: TEST_DOMAIN="${{ env.TEST_BETA_DOMAIN }}" ACCESS_HEADER="${{ env.TEST_ACCESS_HEADER }}" CI=true npx playwright test --config playwright-beta.config.ts --grep "${{ inputs.include-tests }}" --grep-invert "${{ inputs.exclude-tests }}"
      - name: beta report summary
        if: always() && (inputs.site == 'beta' || inputs.site == 'all')
        run: |
          PASS_COUNT_BETA=$(jq '(.stats.expected)' test-results.json)
          echo "PASS_COUNT=$((PASS_COUNT + PASS_COUNT_BETA))" >> "$GITHUB_ENV"
          FAIL_COUNT_BETA=$(jq '(.stats.unexpected)' test-results.json)
          echo "FAIL_COUNT=$((FAIL_COUNT + FAIL_COUNT_BETA))" >> "$GITHUB_ENV"
          SKIP_COUNT_BETA=$(jq '(.stats.skipped)' test-results.json)
          echo "SKIP_COUNT=$((SKIP_COUNT + SKIP_COUNT_BETA))" >> "$GITHUB_ENV"
          FLAKE_COUNT_BETA=$(jq '(.stats.flaky)' test-results.json)
          echo "FLAKE_COUNT=$((FLAKE_COUNT + FLAKE_COUNT_BETA))" >> "$GITHUB_ENV"
          DURATION_BETA=$(jq '(.stats.duration/1000|tonumber|floor)' test-results.json)
          echo "DURATION=$((DURATION + DURATION_BETA))" >> "$GITHUB_ENV"
      - name: Send report to Slack
        if: (success() && inputs.notify-slack-on-pass) || (failure() && inputs.notify-slack-on-fail)
        uses: ./.github/actions/send-slack-report
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK }}
          environment: ${{ inputs.environment }}
          site: ${{ inputs.site }}
          included-tests: ${{ inputs.include-tests }}
          excluded-tests: ${{ inputs.exclude-tests }}
          pass-count: ${{ env.PASS_COUNT }}
          fail-count: ${{ env.FAIL_COUNT }}
          skip-count: ${{ env.SKIP_COUNT }}
          flake-count: ${{ env.FLAKE_COUNT }}
          duration: ${{ env.DURATION }}
          description: ${{ inputs.description }}
